.banner {
    color: #e5e5e5;
    font-size: 2.26rem;
    text-transform: capitalize;
    display: grid;
    grid-template-columns: auto auto;
}

.animation {
    height: 50px;
    overflow: hidden;
    margin-left: 1rem;
}

.animation>div>div {
    padding: 0.25rem 0.75rem;
    height: 2.81rem;
    margin-bottom: 2.81rem;
    display: inline-block;
}

.animation :first-child {
    animation: text-animation 8s infinite;
}

@keyframes text-animation {
    0% {
        margin-top: 0;
    }
    10% {
        margin-top: 0;
    }
    20% {
        margin-top: -5.5rem;
    }
    30% {
        margin-top: -5.5rem;
    }
    40% {
        margin-top: -10.8rem;
    }
    50% {
        margin-top: -10.8rem;
    }
    60% {
        margin-top: -16.2rem;
    }
    70% {
        margin-top: -16.2rem;
    }
    80% {
        margin-top: -21.5rem;
    }
    90% {
        margin-top: -21.5rem;
    }
    100% {
        margin-top: 0;
    }
}

@media (max-width: 575.95px) {
    .banner {
        font-size: 1.5rem;
    }
}