* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.main-container {
    min-height: 100vh; 
    display: grid;
    grid-template-rows: auto 2fr auto;
    margin: 0;
}


/* Header */

.container { 
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    display: grid;
    grid-template-columns: auto auto;
    background: var(--dark-blue);
    font-weight: bold;
    padding: 1.5rem 2.3rem;
    margin: 0;
}

.header a {
    text-decoration: none;
    color: var(--white);
}

.active {
    text-decoration: dotted
}

.nav-bar {
    display: grid;
    grid-template-columns: repeat(6, auto);
    place-content: end;
    justify-content: space-between;
}

.logo {
    align-self: center;
    color: var(--white);
}


/* HOME PAGE */

.main {
    display: grid;
    place-items: center;
}


/* About Me */
.col-2{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5%;
    margin: 5% auto;
    
}
.txt{
    display: grid;
    padding-left: 2rem;
    padding-top: 1rem;
    width: 23.75rem;
     background-color: var(--white);
     border-radius: 10px;  /* color: var(--white); */
     border-right: 1rem groove var(--orange);
}
.txt div .orange{
    color: var(--orange);
}
.txt div >b,.heading {
    text-transform: uppercase;
    font-size: 1.3em;
}

.heading
{
    font-weight: bolder;
    font-size: xx-large;
}

.txt .btn button{
    background-color: var(--orange);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: .8rem 2.5rem;  
    
    font-weight: bold;
}

/* Contact */
.contact-container{ 
    display: grid;
    grid-template-columns: 50% 50%;
}


form{
    /* background-color: var(--white); */
    padding: 20px;
    padding-top: 0px;
    display: grid;
}

.form{
    background-color: var(--orange);
    border-top-right-radius: 50%;

}
.curve-design{
    display: grid;
    grid-template-columns: auto auto;
    background-color: var(--dark-blue);
    
   


}
div svg{
    display: grid;
    /* width: 100%;  */
}
.footer {
    text-align: center;
}
@media (max-width: 575.95px) {
    body {
        font-size: 12px;
    }
    .banner {
        font-size: 2rem;
    }
}