* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.main-container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 2fr auto;
    margin: 0;
}


/* Header */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    display: grid;
    grid-template-columns: 50% auto;
    background: var(--dark-blue);
    font-weight: bold;
    padding: 1.5rem;
    margin: 0;  

}

.header a {
    text-decoration: none;
    color: var(--white);
}

.active {
    text-decoration: dotted
}

.nav-bar {
    display: grid;
    grid-template-columns: repeat(6, auto);
    place-content: end;
    justify-content: space-between;
}

.logo {
    align-self: center;
    color: var(--white);
}


/* HOME PAGE */

.main {
    display: grid;
    place-items: center;
}

.footer {
    text-align: center;
}